:root{
  --field-rows: 3;
  --field-cols: 3;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-family: sans-serif;
}
.game__wrapper{
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.game__title{
  margin-top: 100px;
  letter-spacing: 2px;
  font-size: 50px;
}
.player__move{
  margin-top: 40px;
}
.board__game{
  margin-top: 50px;
  width: 15vw;
  height: 15vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
}
.field{
  border: 1px solid green;
  width: calc(15vw / var(--field-rows));
  height: calc(15vw / var(--field-cols));
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

/* modal */
.modal{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.6);
  /* visibility: hidden; */
}
.modal__box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 40%;
  height: 40%;
  background-color: white;
  border: 5px dashed black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.modal__text{
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 50px;
}
.modal__button{
  padding: 20px 50px;
  font-size: 25px;
  border: 4px dashed black;
  cursor: pointer;
  outline: none;
}
.modal__button:hover{
  background-color: black;
  color: #fff;
  border-color: white;
}
/* js class */
.hidden{
  visibility: hidden;
}
/* .field:nth-of-type(1),
.field:nth-of-type(2),
.field:nth-of-type(3)
{
  border-top-color: white;
}
.field:nth-of-type(7),
.field:nth-of-type(8),
.field:nth-of-type(9)
{
  border-bottom-color: white;
}
.field:nth-of-type(1),
.field:nth-of-type(4),
.field:nth-of-type(7)
{
  border-left-color: white;
}
.field:nth-of-type(3),
.field:nth-of-type(6),
.field:nth-of-type(9)
{
  border-right-color: white;
} */